behaviors:
  RunnerAgent:
    trainer_type: ppo
    hyperparameters:
      batch_size: 512 #10
      buffer_size: 4096 #100
      learning_rate: 3.0e-4
      beta: 1.0e-2 #5.0e-4
      epsilon: 0.2
      lambd: 0.99
      num_epoch: 8 #3
      learning_rate_schedule: linear
      beta_schedule: constant
      epsilon_schedule: linear
    network_settings:
      normalize: false
      hidden_units: 128
      num_layers: 2
    reward_signals:
      extrinsic:
        gamma: 0.99
        strength: 1.0
      gail:
        strength: 0.5
        demo_path: Demos/RunnerFullMap.demo
    behavioral_cloning:
      strength: 0.5
      demo_path: Demos/RunnerFullMap.demo
    max_steps: 1000000
    time_horizon: 128 #64
    summary_freq: 2000 #10000